html, body {
  height: 100%;
}
body {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // text-align: center;
  color: #2c3e50;
}

a {
  color: #3B83B8;
  text-decoration: none;
}

table {
  font-size: 0.8rem;
  text-align: left;
  margin-bottom: 2rem;
  border-collapse: collapse;
  border-spacing: 0px;
}